<div class="container">
  <div class="row justify-content-left">
    <div class="col-8">    
      <h5>Basic Buttons</h5>
      <div>
          <button mat-button>Basic</button>
          <button mat-button color="primary">primary</button>
          <button mat-button color="accent">accent</button>
          <button mat-button color="warn">Basic</button>
          <button mat-button disabled>disabled</button>

      </div>
      <h1>Raised buttons</h1>
      <div>
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">primary</button>
          <button mat-raised-button color="accent">accent</button>
          <button mat-raised-button color="warn">Basic</button>
          <button mat-raised-button disabled>disabled</button>

      </div>
      <h1>Stroked buttons</h1>
      <div>
          <button mat-stroked-button>Basic</button>
          <button mat-stroked-button color="primary">primary</button>
          <button mat-stroked-button color="accent">accent</button>
          <button mat-stroked-button color="warn">Basic</button>
          <button mat-stroked-button disabled>disabled</button>

      </div>
      <h1>Fab buttons</h1>
      <div>
          <button mat-fab>Basic</button>
          <button mat-fab color="primary">primary</button>
          <button mat-fab color="accent">accent</button>
          <button mat-fab color="warn">Basic</button>
          <button mat-fab disabled>disabled</button>

      </div>
      <h1>Mini-Fab buttons</h1>
      <div>
          <button mat-mini-fab>Basic</button>
          <button mat-mini-fab color="primary">primary</button>
          <button mat-mini-fab color="accent">accent</button>
          <button mat-mini-fab color="warn">warn</button>
          <button mat-mini-fab disabled>disabled</button>

      </div>
      <!-- <div>
        <mat-form-field appearance="fill">
          <mat-label>Email:</mat-label>
          <mat-icon class="material-icons">email</mat-icon>
          <input type="text" >
      <br>
      <mat-label>Phone:</mat-label>
      <mat-icon class="material-icons">mobile</mat-icon>
      <input type="text" >
        </mat-form-field>
</div> -->
</div>
<div class="col-4">
<app-sampleform></app-sampleform>
</div>
</div>
 
